.selection {
    width: 150px;
    align-content: center;
    position: auto;
    padding: 10px;
    margin: 20px 20px;
    
}

h1{
    padding: 10px;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

#selections {
    position: relative;
    padding: 60px;
    left: 450px;
    bottom: 220px;
    border-width: 20px;
}



body {
    text-align: center;
}
